<!DOCTYPE html>
<html>
<head>

<title>Hello HTML</title>
<style>
</style>
<link rel="stylesheet" href="../NewStyle.css" />
</head>
<body>
	<div>
		<h1>Selamat Pagi</h1>
		<p>Selamat Datang di Training Java</p>
		<ul style="color:blue;">Test</ul>
		Create by Fajri
	</div>
	
<div class = "image-containers">

<div class = "image-wrapper">
<img class = "image-item" src = "https://statik.tempo.co/data/2021/06/18/id_1028926/1028926_720.jpg"/>
</div>
<div class = "image-wrapper">
<img class = "image-item" src = "https://statik.tempo.co/data/2021/06/18/id_1028926/1028926_720.jpg"/>
</div>
<div class = "image-wrapper">
<img class = "image-item" src = "https://statik.tempo.co/data/2021/06/18/id_1028926/1028926_720.jpg"/>
</div>
<div class = "image-wrapper">
<img class = "image-item" src = "https://statik.tempo.co/data/2021/06/18/id_1028926/1028926_720.jpg"/>
</div>
<div class = "image-wrapper">
<img class = "image-item" src = "https://statik.tempo.co/data/2021/06/18/id_1028926/1028926_720.jpg"/>
</div>
<div class = "image-wrapper">
<img class = "image-item" src = "https://statik.tempo.co/data/2021/06/18/id_1028926/1028926_720.jpg"/>
</div>
<div class = "image-wrapper">
<img class = "image-item" src = "https://statik.tempo.co/data/2021/06/18/id_1028926/1028926_720.jpg"/>
</div>
<div class = "image-wrapper">
<img class = "image-item" src = "https://statik.tempo.co/data/2021/06/18/id_1028926/1028926_720.jpg"/>
</div>
<div class = "image-wrapper">
<img class = "image-item" src = "https://statik.tempo.co/data/2021/06/18/id_1028926/1028926_720.jpg"/>
</div>
<div class = "image-wrapper">
<img class = "image-item" src = "https://statik.tempo.co/data/2021/06/18/id_1028926/1028926_720.jpg"/>
</div>
<div class = "image-wrapper">
<img class = "image-item" src = "https://statik.tempo.co/data/2021/06/18/id_1028926/1028926_720.jpg"/>
</div>



</div>
	


</body>
</html>